
h1 {
font-size: 25px;
font-family: sans-serif;
font-weight: bold;
}


h2 {
text-align: center;
font-size: 25px;
font-weight: 150;
}

.mb-3 {
text-align: left;
}

.headerkogoto {
padding-left: 1rem;
}
.images img{
    width: 100%;
    height: 432px;
    object-fit: cover;
}

/*カヌー背景*/
.kanure{
color: white;
padding: 2rem;
padding-top: 5rem;
padding-bottom: 5rem;
background-color: rgb(0, 108, 112);
}

/*働き方を変えたいならAirbnbです*/
.las2c h2{
padding-top: 5rem;
font-size: 30px;
font-weight: 300;
}

/*安全第一のシステム＆グローバルカスタマーサポート*/
.aomidori {
padding: 6rem;
color: white;
text-align: center;
background-color: rgb(0, 108, 112);
}

/*MARTA KUTT様*/
.obikome {
padding: 2rem;
padding-top: 5rem;
padding-bottom: 5rem;
background-color: #f5f5f5;
}

/*出張管理をご担当ですか*/
.lassc {
padding: 3rem;
text-align: center;
}

.lassc h2{
font-weight: 500;
font-size: 15px;
}

.lassc p{
font-weight: 200;
}

.footer {
padding-top: 3rem;
background-color: #f5f5f5;
font-weight: 200;

}

h3 {
font-size: 15px;
float: left;
}

.footertopic {
padding-top: 1rem;
padding-bottom: 1rem;
}
